[Desktop Entry]
Name=Discord (Auto-Update)
Comment=All-in-one voice and text chat for gamers
Exec=/home/$USERNAME/Documents/Scripts/discord-updater.sh
Icon=discord
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=discord